<div class="container">
    <div class="row">
        <semantic-context repository="openstreetmap">
            <semantic-search>
                
                <semantic-search-query-keyword
                    query='
                        PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
                            prefix query: <http://www.researchspace.org/resource/system/>
                            PREFIX osm: <http://www.researchspace.com/resource/assets/Ontologies/openstreetmap#>
                            SELECT ?subject ?wkt ?wiki WHERE {
                                ?q osm:q ?__token__ .
                                ?q osm:displayName ?subject .
                                ?q osm:geoText ?wkt .
                                ?q osm:wikidata ?wiki
                            }'
                    input-placeholder='Search for a place e.g. "Venice"'
                ></semantic-search-query-keyword>

                <semantic-search-result-holder>
                    <semantic-search-result>

                        <semantic-map
                            id='map'
                            query='select * where {}'
                        >
                        </semantic-map>
                    </semantic-search-result>
                  </semantic-search-result-holder>
            </semantic-search>
            
        </semantic-context>
    </div>
</div>